build
build/revision
*.xcodeproj/*.pbxuser
*.xcodeproj/*.perspectivev3
*.xcodeproj/*.mode1v3
*.xcodeproj/*.tm_build_errors
*.xcodeproj/xcuserdata
*.xcodeproj/*.xcworkspace
*.xcodeproj/*.xcworkspacedata
*.xcodeproj/*.xcuserstate
*.tmproj
.DS_Store